<div id='stream-div-layout' style="width: 100%;">
    <div ref-sr-id="top-menu-component"></div>
    <div class="ui sixteen column grid very padded">
        <div class="four wide column">
            <div ref-sr-id="user-profile-component"></div>
        </div>
        <div class="six wide column">
            <div ref-sr-id="user-repos-component"></div>
        </div>
        <div class="six wide column">
            <div ref-sr-id="user-events-component"></div>
        </div>
    </div>
</div>
